@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

// MODIFIED BLOCK
.submitButton{
  background-color: $grass-blade;	  background-color: $grass-blade;
  transition: background-color 100ms ease;
  border-radius: $size / 2;	  border-radius: $size / 2;
  color: white;	  color: white;
  font-size: $size * .4;	  font-size: $size * .4;
@@ -15,6 +16,11 @@ $size: 50px;
  cursor: pointer;	  cursor: pointer;
  @include flex-spacing(space-between);	  @include flex-spacing(space-between);


  &:not(.enabled) {
    pointer-events: none;
    background-color: $elephant-paw;
  }

  &--label {	  &--label {
    padding: 0 20px;	    padding: 0 20px;
  }	  }